$pBlack  : #000000;
$pWhite  : #ffffff;

$aWhite  : #f9f7f5;
$aPurple : #e7d5ff;

// Dark Colors
$dBlack  : #1e1c1a;
$dGray   : #7e7c7a;
$dWhite  : #ceccca;
$dBlue   : #20419a;
$dPurple : #5d377b;
$dPink   : #883067;
$dRed    : #962a1c;
$dYellow : #916518;
$dGreen  : #406d00;
$dTeal   : #2d746e;

// Bright Colors
$bBlack  : #4e4c4a;
$bGray   : #9e9c9a;
$bWhite  : #eeecea;
$bBlue   : #5273cd;
$bPurple : #8f69ad;
$bPink   : #ba6299;
$bRed    : #c85c4e;
$bYellow : #c3974a;
$bGreen  : #729f32;
$bTeal   : #5fa6a0;
