$navbar-width: calc(56px + 1vw);

nav {
  width: $navbar-width;
  color: $bWhite;
  position: fixed;
  padding-top: 10px;
  z-index: 1;

  .pop {
    position: absolute;
    top: $hspace;
    left: calc(#{$navbar-width} + #{$hspace});

    width: calc(100vw - #{$navbar-width} - #{$hspace} * 2 - #{$scrollbar-width});
    max-width: 32rem;
    max-height: calc(100vh - #{$hspace} * 2);

    z-index: -1;
    overflow-y: auto;

    background-color: $dBlack;
    outline: solid 1px $bBlack;

    line-height: 1;

    p:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  #toc-menu > .pop {
    min-height: 290px;
    padding: calc(4px + 0.5vw);
  }

  .arrow {
    position: relative;
    top: 20px;
    left: calc(#{$navbar-width} + #{$hspace} - 10px);

    &::after {
      content: '';
      border-bottom: 10px solid transparent;
      border-top: 10px solid transparent;
      border-right: 10px solid $dBlack;
      position: absolute;
      left: 1px;
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: $navbar-width;
  min-height: 60px;
  background: none;
  color: $dWhite !important;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  clear: both;

  > i.bx {
    font-size: 1.3rem;
    color: $bBlack;
    transition: color 0.3s;
  }

  @mixin navigating {
    color: $bWhite !important;
    .bxs-home { color: $bBlue; }
    .bxs-search { color: $bRed; }
    .bxs-tag { color: $bPurple; }
    .bxs-book-content { color: $bYellow; }
    .bxs-to-top { color: $bGreen; }
  }

  &:focus { @include navigating; }

  @media (hover:hover) {
    &:hover { @include navigating; }
  }

  // fixes perceived search icon vertical misalignment
  .bx-search {
    position: relative;
    top: 2px;
  }
}

.gone { display: none; }
.hid { visibility: hidden; }

#toc-toggle { float: left; }
#toc-menu {

  &::before {
    content: '';
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba($dBlack, 0.7);
    pointer-events: none;
  }

  .context {
    color: $dGray;
    margin: 5px 9px;
    padding: 4px 0;
    font-size: small;
    border-bottom: 1px dotted $dGray;
    display: flex;
    align-items: center;
    font-weight: 500;
  }

  ul ul > li { font-size: 0.9em; }

  a {
    display:flex;
    align-items: center;
    padding: 9px;
    color: $bWhite;

    &:hover {
      color: white;
      text-shadow: white 0px 0px 1px;
    }
  }

  a.h3 { padding-left: calc(9px + 1.6rem); }
  a.h4 { padding-left: calc(9px + 3.2rem); }
}
