$hspace: calc(1rem + 1vw);
$vspace: calc(1rem + 0.2vh);
$vspace-sm: calc(0.6rem + 0.2vh);

@function negate($value) {
  @return calc(-1 * #{$value});
}

$scrollbar-width: var(--scrollbar-width, 15px);
