html {
  box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

button, ol, ul {
  font-size: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}

ol, ul { list-style: none; }

p, h1, h2, h3, h4, h5, dl, ul, pre, figure {
  margin: 0;
}

input {
  font-size: unset;
  font-family: unset;
}
