#search {
  width: 100%;
  font-family: inherit;
  font-weight: inherit;
  padding: 0.5rem 1rem !important;
  border: 1px solid $dWhite;
  outline: none;
  margin: 20px 0;
  line-height: 20px;

  transition: border-color 0.3s;
  &:focus {
    border-color: $bGray;
  }
}

#results {
  display: block;
  margin: 0 1rem;
  line-height: normal;
  align-self: stretch;
  z-index: 1;

  li { margin-bottom: 14px; }
  a { padding: 7px 0; }
}
