@media (max-width: 600.9px) {

  $navbar-width: 60px;

  html { font-size: calc(0.84vw + 10pt); }

  main {
    margin-left: 0;
    min-height: calc(100vh - #{$navbar-width});
  }

  h2, h3, h4, h5 {
    margin-top: negate($navbar-width);
    padding-top: calc(#{$navbar-width} + 4px + #{$vspace-sm});
  }

  pre, figure {
    float: none;
    position: relative;
    left: negate($hspace);
    width: calc(100% + #{$hspace} * 2);
  }

  nav {
    width: 100%;
    position: sticky;
    padding: 0 10px;
    height: $navbar-width;
    display: flex;
    background-color: $dBlack;
    top: 0;
    box-shadow: 0 -5px 5px 5px $bBlack;

    .pop {
      top: calc(#{$navbar-width} + #{$hspace});
      left: $hspace;

      width: calc(100% - #{$hspace} * 2);
      max-height: calc(100vh - #{$navbar-width} - #{$hspace} * 2);
    }

    #toc-menu {
      &::before {
        top: $navbar-width;
        width: 100%;
      }
      > .pop { min-height: unset; }
    }

    .arrow { display: none; }
  }
}
