@media (min-width: 601px) {

  main {
    max-width: calc(32rem + #{$hspace} * 2);
    margin-left: $navbar-width;
    overflow-x: visible;
  }

  pre, figure {
    float: left;
    position: relative;
    left: negate($hspace);
    min-width: calc(100% + #{$hspace} * 2);
    max-width: calc(100vw - #{$navbar-width} - #{$scrollbar-width});
  }

  nav {
    width: $navbar-width;
    padding-top: $hspace;

    .pop {
      left: calc(#{$navbar-width} + #{$hspace});
      width: calc(100vw - #{$navbar-width} - #{$hspace} * 2 - #{$scrollbar-width});
    }

    .arrow {
      left: calc(#{$navbar-width} + #{$hspace} - 10px);
    }
  }

  .nav {
    width: $navbar-width;
  }
}
