.share {
  text-align: end;
  padding-top: 30px;

  span {
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: bold;
    padding-right: 6px;
  }

  > a {
    text-align: unset;
    display: inline-block;
    line-height: 1;

    + a {
      margin-left: 4px;
    }

    @mixin sharing {
      .bxl-github { background-color: #000000; }
      .bxl-gitlab { background-color: #E24329; }
      .bxl-reddit { background-color: #FF4500; }
      .bxl-twitter { background-color: #1DA1F2; }
      .bxl-linkedin { background-color: #0A66C2; }
      .bxl-whatsapp { background-color: #25D366; }
      .bxl-telegram { background-color: #32AFED; }
      .bxl-facebook { background-color: #4267B2; }
    }

    &:focus { @include sharing; }

    @media (hover:hover) {
      &:hover { @include sharing; }
    }
  }

  i {
    color: white;
    background-color: $bBlack;
    padding: 4px;
    border-radius: 2px;
    transition: background-color 0.3s;
  }
}
