.ansi2html-content {
  color: #1E1C1A;
  line-height: 1;
  background-color: white;
}

.ansi1 { font-weight: bold; }
.ansi2 { font-weight: lighter; }
.ansi3 { font-style: italic; }
.ansi4 { text-decoration: underline;; }
.ansi5 { text-decoration: blink; }
.ansi6 { text-decoration: blink; }
.ansi8 { visibility: hidden; }
.ansi9 { text-decoration: line-through; }

@mixin color-classes($n, $color) {
  .ansi3#{$n} { color: $color; }
  .ansi4#{$n} { background-color: $color; }
}

$colors:
  #1E1C1A #962A1C #406D00 #916518 #20419A #883067 #2D746E #CECCCA
  #4E4C4A #C85C4E #729F32 #C3974A #5273CD #BA6299 #5FA6A0 #EEECEA;

@for $i from 0 to length($colors) {
  @include color-classes($i, nth($colors, $i + 1));
  @include color-classes("8-"+$i, nth($colors, $i + 1));
}

@for $r from 0 to 6 {
  @for $g from 0 to 6 {
    @for $b from 0 to 6 {
      $index: 16 + ($r * 36) + ($g * 6) + $b;
      $color: rgb($r * 51, $g * 51, $b * 51);
      @include color-classes("8-"+$index, $color);
    }
  }
}

@for $i from 0 to 24 {
  $shade: ($i * 10) + 8;
  $grey: rgb($shade, $shade, $shade);
  @include color-classes("8-"+($i + 232), $grey);
}
