@import '_reset';
@import '_colors';
@import '_numbers';
@import '_social';

@font-face {
  font-family: 'Hebrew';
  src: url('fonts/Hebrew.woff2');
  font-display: block;
  unicode-range: U+0590-05FF
}

%monospace {
  font-family:
    SFMono-Regular,
    Consolas,
    Liberation Mono,
    Menlo,
    monospace !important;
}

html {
  font-family:
    'Hebrew',
    -apple-system,
    BlinkMaxSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    system-ui,
    sans-serif;
  line-height: 1.5;
  font-size: calc(0.26vw + 12pt);
}

body {
  color: $dBlack;
  background-color: $dBlack;
  margin: 0;
  overflow-x: hidden;
}

#bsd {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -10px;
  padding-top: $hspace;
  font-size: 0.9em;
  font-family: 'Hebrew', sans-serif;
  line-height: 1;
  color: $dWhite !important;

  + div { clear: both; }
}

@import '_home';
@import '_search';

.info {
  display: flex;
  align-items: baseline;
  margin: 0.4ex 0;

  .date {
      @extend %monospace;
      font-size: 0.7rem;
      font-weight: bold;
      color: $dWhite;
  }

  > .tax {
    margin-left: 1ex;
    font-size: 0.9rem;
    font-weight: normal;

    > i {
      color: $dWhite;
      margin-left: 2px;
      vertical-align: middle;
    }
  }
}

.tax_list {

  > h1 { margin-bottom: $vspace; }

  > .tax_item {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    font-size: 1.1em;
    padding: calc(#{$vspace} / 2) 0;

    > .name { flex: 0 0 auto; }

    > .count {
      @extend %monospace;
      font-size: 0.8rem;
      flex: 0 0 2em;
      color: $dWhite;
      justify-content: flex-end;
      transition: color 0.3s;
    }

    > span {
      display: flex;
      line-height: 1;
      padding: 0 0.2em;
    }

    &:hover > .count {
      color: $bBlack;
    }
  }
}

.title {
  display: flex;
  align-items: baseline;
  margin-bottom: $vspace;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}
a:link { color: $bBlue; }
a:visited { color: $dBlue; }
a:hover { color: $bTeal; }
a:active { color: $bYellow; }

a:not(.nox):not([href^="http://127.0.0.1:1111"]):not([href^="https://michael.plotke.me"]) {
  display: inline-block;
  padding-right: calc(1ex + 0.05em);
  
  &::after {
    content: '';
    display: inline-block;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80'%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='M40.3 5.3L80 0l-5.3 39.7M52.6 17.6l-24 29 4.9 5.3 28.9-24.5'/%3E%3Cpath d='M25 10v10H10v50h50V50h10v30H0V10z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    margin: 0 0.05em 0.1ex 0.15em;
    margin-right: -1ex;
    width: 1ex;
    height: 1ex;
    opacity: 0.2;
    transition: opacity 0.3s;
  }
  &:hover::after {
    opacity: 0.4;
  }
}

@import '_nav';


@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

main {
  position: relative;
  margin-left: $navbar-width;
  min-height: 100vh;
  background-color: white;
  overflow-x: hidden;
  padding: 0 $hspace 30px $hspace;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 1;
    left: 0;
    opacity: 0;
    pointer-events: none;
  }

  &::after {
    content: ' ';
    display: block;
    clear: both;
  }

  blockquote {
    p:last-of-type {
      margin-bottom: 0px;
    }
  }

  p, h1, h2, h3, h4, h5, dl, ul, blockquote, pre, figure {
    margin-bottom: $vspace;
  }

  p, h1, h2, h3, h4, h5, dl, ul, blockquote {
    clear: both;
  }

  ul li {
    position: relative;
    margin-left: 0.95em;

    small {
      display: block;
      font-size: 0.9em;
      margin-bottom: $vspace;
    }

    &::before {
      content: "⁌";
      color: $dWhite;
      position: absolute;
      left: -1em;
    }
  }
}

@media screen {
  main::before {
    animation: fadeout 0.9s;
  }
}

h1, h2, h3, h4, h5 {
  line-height: 1.1;
  padding-top: calc(0.1em + #{$vspace-sm});
}

blockquote {
  position: relative;
  margin: 0;
  padding: calc(0.4rem + 0.4vw);
  background-color: $bWhite;
  margin-top: calc(#{$vspace} *1.2);

  %quote {
    position: absolute;
    padding: 0.2rem;
    background-color: $bWhite;
    color: $bBlack;
    border-radius: 3px;
    font-size: 0.8em;

    transition: color 0.3s, background-color 0.3s;
  }

  transition: box-shadow 0.3s, background-color 0.3s;

  &:hover {
    box-shadow: 0 0 3px 1px $dWhite;
    background-color: white;

    %quote {
      color: $dWhite;
      background-color: white;
    }
  }

  .bxs-quote-right.bx-flip-horizontal {
    @extend %quote;
    left: -10px;
    top: -10px;
    padding-right: 6px;

    &::before {
      margin-right: -1px;
      padding-left: 1px;
    }
  }

  .bxs-quote-right:not(.bx-flip-horizontal) {
    @extend %quote;
    right: -10px;
    bottom: -10px;
    padding-left: 6px;
  }
}

code { @extend %monospace; }

:not(pre) > code {
  font-size: 0.8em;
  vertical-align: middle;
  padding: 1px 3px;
  background-color: $aWhite;
}

pre {
  @extend %monospace;
  padding: $vspace $hspace;
  font-size: 0.75em;
  line-height: 1.3;
  box-shadow: 0 0 0 4px #fff5;
}

pre, figure {
  overflow-x: auto;

  transition: box-shadow 0.3s;
  &:hover {
    box-shadow:
      0 0 0 4px white,
      0 0 3px 5px $bBlack;
  }
}

figure {
  line-height: 0;
}

.rtl {
  direction: rtl;
  margin-bottom: 6px;
}

strong { font-weight: 600; }

@import '_size_600max';
@import '_size_601min';
@import '_size_1500min';
