{% extends "base.html" %}

{% block head %}
  <title>404</title>
{% endblock head %}

{% block main %}
  <h1>Ruh-Roh</h1>
  <p>It appears no resource is located here.</p>
  <p>If you arrived here by following a link and believe this to be an error on my part, please <a target="_blank" title="GitLab Repository" href="https://gitlab.com/bdjnk/michael">let me know</a>.</p>
{% endblock main %}
