{% set base = config.base_url %}

{% if page %}
  {% set pos = page %}
{% elif section %}
  {% set pos = section %}
{% endif %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    {% if pos %}
      <title>{{ pos.title }}</title>
      <meta name="description" content="{{ pos.description }}">
      <meta property="og:title" content="{{ pos.title }}" />
      <meta property="og:url" content="{{ pos.permalink }}" />
    {% endif %}
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ base }}/og.png" />
    <meta name="author" content="{{ config.extra.author.name }}">

    <link href="{{ base }}/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="{{ base }}/style.css" rel="stylesheet">

    <script src="{{ base }}/js/bundle.js" defer></script>

    {% block head %}{% endblock head %}
  </head>

  <body>
    <nav>
      <a id="nav-home" class="nav" href="{{ base }}">
        <i class="bx bxs-home"></i>
        Home
      </a>
      <a id="nav-search" class="nav" href="{{ get_url(path="search") }}">
        <i class="bx bxs-search"></i>
        Find
      </a>
      <a id="nav-tag" class="nav" href="{{ get_url(path="tag") }}">
        <i class="bx bxs-tag"></i>
        Tags
      </a>
      {% block nav %}{% endblock nav %}
    </nav>
    <main>
      <div id="bsd">בס״ד</div>
      {% block main %}{% endblock main %}
    </main>

    {% block after %}{% endblock after %}
    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </body>
</html>
