{% extends "base.html" %}

{% block head %}
  {% if page.extra.ansi %}
    <link href="{{ config.base_url }}/ansi.css" rel="stylesheet">
  {% endif %}
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ page.permalink }}" />
{% endblock head %}

{% block nav %}

  {% set_global header_count = 0 %}
  {% for h2 in page.toc %}
    {% set_global header_count = header_count + 1 %}
    {% for h3 in h2.children %}
      {% set_global header_count = header_count + 1 %}
      {% for h4 in h3.children %}
        {% set_global header_count = header_count + 1 %}
      {% endfor %}
    {% endfor %}
  {% endfor %}

  {% if header_count > 5 %}
    <div id="toc-toggle" class="nav nox" tabindex="0">
      <i class="bx bxs-book-content"></i>
      ToC
    </div>
    <div id="toc-menu" class="gone">
      <div class="arrow"></div>
      <div class="pop">
        <div class="context">{{ page.title }}</div>
        <ul>
          {% for h2 in page.toc %}
            <li>
              <a class="h2" href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
              <ul>
                {% for h3 in h2.children %}
                  <li>
                    <a class="h3" href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                    <ul>
                      {% for h4 in h3.children %}
                        <li>
                          <a class="h4" href="{{ h4.permalink | safe }}">{{ h4.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
  <a id="to-top" class="nav nox hid" tabindex="0" href="#">
    <i class="bx bxs-to-top"></i>
    Top
  </a>
{% endblock nav %}

{% block main %}
  <h1>
    {{ page.title }}
    {% include "bits/info.html" %}
  </h1>

  {{ page.content | safe }}

  <div class="share">
    <span>share this post</span>
    {% set encoded_title = page.title | urlencode %}
    {% set tags = page.taxonomies.tag | join(sep=",") %}
    <a class="nox" target="_blank" title="Share of Twitter" href="https://twitter.com/intent/tweet?text={{encoded_title}}&url={{page.permalink}}&hashtags={{tags}}&via=michaelplotke">
      <i class="bx bxl-twitter"></i>
    </a>
    <a class="nox" target="_blank" title="Share of LinkedIn" href="https://www.linkedin.com/feed/?shareActive=true&text={{encoded_title}}%0A{{page.permalink}}">
      <i class="bx bxl-linkedin"></i>
    </a>
    <a class="nox" target="_blank" title="Share of Reddit" href="https://www.reddit.com/submit?title={{encoded_title}}&url={{page.permalink | urlencode_strict}}">
      <i class="bx bxl-reddit"></i>
    </a>
    <a class="nox" target="_blank" title="Share of Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{page.permalink}}">
      <i class="bx bxl-facebook"></i>
    </a>
    <!--
    <a class="nox" target="_blank" title="Share of Telegram" href="https://telegram.me/share/url?url={{page.permalink}}&text={{encoded_title}}">
      <i class="bx bxl-telegram"></i>
    </a>
    <a class="nox" target="_blank" title="Share of WhatsApp" href="https://api.whatsapp.com/send?text={{encoded_title}} - {{page.permalink}}">
      <i class="bx bxl-whatsapp"></i>
    </a>
    -->
  </div>
{% endblock main %}
