{% extends "base.html" %}

{% block head %}
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ page.permalink }}" />
{% endblock head %}

{% block main %}

    <h1>{{ page.title }}</h1>

    {{ page.content | safe }}

    {% include "bits/social.html" %}

{% endblock main %}
