{% extends "base.html" %}

{% block nav %}
{% endblock nav %}

{% block main %}
  <div>
    <h1>Search</h1>
    <input id="search" type="text" autocomplete="off" />
    <ul id="results"></ul>
  </div>
{% endblock main %}

{% block after %}

<script src="{{ base }}/elasticlunr.min.js" id="el"></script>
<script src="{{ base }}/search_index.en.js"></script>
<script src="{{ base }}/js/search.js"></script>

{% endblock after %}
