{% extends "base.html" %}

{% block main %}
  <h1>all {{ section.title }}</h1>
  {% for page in section.pages %}
    {% if not page.draft %}
      <h3>
        {% include "bits/info.html" %}
        <a href="{{ page.permalink }}">{{ page.title }}</a>
      </h3>
    {% endif %}
  {% endfor %}
{% endblock main %}
