{% extends "base.html" %}

{% block head%}
  <title>Tags</title>
  <meta name="description" content="">
  <meta property="og:title" content="Tags" />
  <meta property="og:url" content="{{ current_url }}" />
{% endblock head%}

{% block main %}
  <h1>{{ taxonomy.name }}</h1>
  <div class="tax_list">
    {% for term in terms %}
      <a class="tax_item" href="{{ term.permalink }}">
        <span class="count">{{ term.pages | length }}</span>
        <span class="name">{{ term.name }}</span>
      </a>
    {% endfor %}
  </div>
{% endblock main %}
