{% extends "base.html" %}

{% block head%}
  {% set title = 'Posts Tagged "' ~ term.name ~ '"' %}
  
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:url" content="{{ current_url }}" />
{% endblock head%}

{% block main %}
  <div class="title">
    <h1>{{ term.name }}&nbsp;</h1>
    <h4>{{ taxonomy.name }}</h4>
  </div>
  {% for page in term.pages %}
    <h3>
      {% include "bits/info.html" %}
      <a href="{{ page.permalink }}">{{ page.title }}</a>
    </h3>
  {% endfor %}
{% endblock main %}
