<div class="info">
  <div class="date">
    {{ page.date | date(format="%Y-%m-%d") }}
  </div>
  {% if not page.draft %}
    <div class="tax">
      <i class="bx bx-tag" title="tag"></i>
      {% for tag in page.taxonomies.tag %}
        <a href={{ get_taxonomy_url( kind="tag", name=tag ) }}>
          {{ tag }}
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>