<p class="share">
  <a class="nox" target="_blank" title="My GitHub" href="https://github.com/bdjnk">
    <i class="bx bxl-github"></i>
  </a>
  <a class="nox" target="_blank" title="My GitLab" href="https://gitlab.com/bdjnk">
    <i class="bx bxl-gitlab"></i>
  </a>
  <a class="nox" target="_blank" title="My LinkedIn" href="https://www.linkedin.com/in/michael-plotke-773b9364/">
    <i class="bx bxl-linkedin"></i>
  </a>
</p>
