{% extends "base.html" %}

{% block main %}
  <div class="tax_list">
    <h1>{{ taxonomy.name }}</h1>
    <div class="tax_item">
      <span class="name">name</span>
      <span class="count">posts</span>
    </div>
    {% for term in terms %}
      <a class="tax_item" href="{{ term.permalink }}">
        <span class="name">{{ term.name }}</span>
        <span class="count">{{ term.pages | length }}</span>
      </a>
    {% endfor %}
  </div>
{% endblock main %}
