{% extends "base.html" %}

{% block main %}
  <div class="title">
    <h1>{{ term.name }}&nbsp;</h2>
    <h4>{{ taxonomy.name }}</h4>
  </div>
  {% for page in term.pages %}
    <h3>
      {% include "bits/info.html" %}
      <a href="{{ page.permalink }}">{{ page.title }}</a>
    </h3>
  {% endfor %}
{% endblock main %}
